<html>
  <head>
    <style type="text/css">
      body {
        background: #254356;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
        font-size: 14pt;
        font-family: Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Hello swarm mode!</h2>
      <img src="{{url}}" />
       <p>Delivered to you by container: <strong>{{hostname}}<strong>
       <p><small>All images copyright &#169; 2016 Docker Inc. All rights reserved.
    </div>
  </body>
</html>
